/*General Styles*/
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(25, 43, 58);
}

/*Main Container styles*/
.main-container {
  width: 50vw;
  max-width: 600px;
  min-height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 50px;
}

/*RGB Slider Styles*/
.color {
  padding: 20px;
  margin: 10px;
  font-size: 2em;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

label, p {
  margin: 20px;
}